* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    //outline: red 1px solid;
}

/** links delete color **/
a {
    text-decoration: none;
    color: inherit;
}

/** veelgebruikte items**/
.display-flex {
    display: flex;
}

.color-white {
    color: #ffffff;
}

.bgcolor-grey {
    background-color: #797979;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.txt-align {
    text-align: center;
}

/** einde veel gebruikte items **/

/** dit is de header**/
header {
    background-color: #E2E2E2;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-content: center;
    text-decoration: none;
}

.logo {
    align-self: center;
    border-radius: 50px;
    margin-left: 10px;
}

ul {
    gap: 20px;
    padding: 0px 40px 0px 0px;
    list-style-type: none;
}

.nav-gap {
    align-items: center;
}

/** einde header**/

/** begin section 1**/
.title-section {
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #FFF1F1;
}

.homepage-foto {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mini-about-me {
    background-color: #797979;
    width: 100%;
    height: 450px;
    justify-content: center;
    gap: 80px;
}

.mini-about-me-txt {
    justify-content: center;
    align-items: center;
}

.read-more {
    justify-self: flex-end;
    align-self: flex-end;
    padding-bottom: 50px;
    padding-right: 80px;
}

/** einde sectie 1, begin sectie 2**/

.homepage-contact-me {
    background-color: #D9D9D9;
    height: 480px;
    width: 35%;
}

.homepage-other-boxes {
    height: 480px;
    width: 35%;
    background-color: #FFF1F1;
    justify-items: center;
}

.homepage-other-title {
    justify-content: center;
    gap: 20px;
}

.cat {
    width: 230px;
    height: 230px;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
}

.my-projects {
    width: 150px;
    height: 150px;
}

.cat-hover:hover {
    scale: 1.2;
}

.cat-hover {
    transition-duration: 0.5s;
    width: fit-content;
    justify-self: center;
}

/** begin my works**/

.works-title {
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #797979;
}

.my-works-box {
    height: 480px;
    width: 50%;
    background-color: #FFF1F1;
    justify-items: flex-end;
}

.my-works-other-box {
    background-color: #D9D9D9;
    height: 480px;
    width: 50%;
}

.border-radius-img {
    border-radius: 80px;
}

.img-gap {
    gap: 20px;
}

.read-more-works {
    background-color: rgb(168, 180, 180);
    padding: 4px 12px;
    border-radius: 6px;
    color: white;
    text-align: center;
    justify-self: center;
}

.more-pinkgoose {
    top: 50px;
    display: none;
}

.more-works {
    background-color: rgb(168, 180, 180);
    border-radius: 6px;
    padding: 4px 12px;
    color: white;
    text-align: center;
    justify-self: center;
    position: relative;
    top: -50px;
}

.height {
    height: 480px;
}

.hidden {
    display: none;
}

/** begin about me pagina**/

.about-me-title {
    align-items: center;
}

.padding-top {
    padding-top: 10px;
}

/**einde about me pagina**/
/** begin contact me pagina **/
.body-bg{
    background-color: #FFF1F1;
}

.contact-me-color {
    width: 100%;
    height: 500px;
    background-color: #FFF1F1;
}

.contact-me-box {
    max-width: 500px;
    margin: 60px auto;
    background: white;
    padding: 40px;
    border-radius: 8px;
    outline: #797979 1px solid;
}

label {
    display: block;
    margin-top: 15px;
}

input,textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: fit-content;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid;
    border-radius: 5px;
}



.contact-me-img{
padding: 60px;
}

/** footer **/
footer {
    background-color: #E2E2E2;
    height: 80px;
}

.footer-links {
    gap: 20px;
    padding: 0px 40px 0px 0px;
}