* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/** veelgebruikte items**/
.display-flex {
    display: flex;
}

.color-white{
    color: #ffffff;
}

.row{
     flex-direction: row;
}

.column{
    flex-direction: column;
}

header {
    background-color: #E2E2E2;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}
/** einde veel gebruikte items **/
nav a{
text-decoration: none;
}

.nav-gap{
    gap: 40px;
    margin-right: 40px;
    text-decoration: none;
}

.title-section{
    justify-content: center;
    align-items: center;
    height: 200px;
}

.title-txt{
}

.homepage-foto{
    padding-top: 40px;
width: 350px;
height: 350px;
justify-self: flex-start;
}

.mini-about-me{
    background-color: #797979;
    width: 100%;
    height: 450px;
    justify-content: flex-end;
    gap: 80px;
}

.mini-about-me-txt{
justify-content: flex-end;
align-items: center;

}
.mini-me-foto{
    justify-self: flex-start;
    align-self: center;
}

.read-more{
justify-self: flex-end;
align-self: flex-end;
padding-bottom: 50px;
padding-right: 80px;
}