* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: red 1px solid;
}

/** links delete color **/
a{text-decoration: none; color: inherit;}

/** veelgebruikte items**/
.display-flex {
    display: flex;
}

.color-white {
    color: #ffffff;
}

.row {display: flex; flex-direction: row;}
.column {display:flex; flex-direction: column;}
.space-between { display: flex; justify-content: space-between;}
.align-center {display: flex; align-items: center;}

/** einde veel gebruikte items **/

/** dit is de header**/
header {
    background-color: #E2E2E2;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-content: center;
    text-decoration: none;
}

.logo {
    align-self: center;
    border-radius: 50px;
    overflow: hidden;
    width: 65px;
    height: 65px;
    margin-left: 10px;
}

ul{gap: 20px; padding: 0px 40px 0px 0px; list-style-type:none;}

.nav-gap {align-items: center;}

/** einde header**/

/** begin section 1**/
.title-section {
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #FFF1F1;
}

.homepage-foto {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mini-about-me {
    background-color: #797979;
    width: 100%;
    height: 450px;
    justify-content: flex-end;
    gap: 80px;
}

.mini-about-me-txt {
    justify-content: flex-end;
    align-items: center;
}

.read-more {
    justify-self: flex-end;
    align-self: flex-end;
    padding-bottom: 50px;
    padding-right: 80px;
}

/** einde sectie 1, begin sectie 2**/

.homepage-contact-me {
    background-color: #D9D9D9;
    height: 480px;
    width: 600px;
}

.homepage-other-boxes {
    height: 480px;
    width: 600px;
    background-color: #FFF1F1;
    justify-items: center;
}

.homepage-other-title {
    justify-content: center;
    gap: 20px;
}

.cat {
    width: 230px;
    height: 230px;
    justify-self: center;
    align-self: center;
}

/** footer **/
footer {
    background-color: #E2E2E2;
    height: 80px;
}

.footer-links{
    gap: 20px;
    padding: 0px 40px 0px 0px;
}

.github-logo{
    align-self: center;
    border-radius: 50px;
    overflow: hidden;
    width: 65px;
    height: 65px;
}

